<a href="https://colab.research.google.com/github/Armando122104/Ejercicios_Guia_Examen_IngDatos/blob/main/Ejercicios_Practicos_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1: Extracción y Exploración Básica
Objetivo: Cargar datos y explorar su estructura
16.	Carga el archivo ventas_mensuales.xlsx usando pandas
17.	Muestra las primeras 5 filas
18.	Obtén información general del DataFrame (tipos de datos, valores nulos)
19.	Muestra las dimensiones (número de filas y columnas)
20.	Lista los nombres de todas las columnas

In [8]:
import pandas as pd

# Cargar el archivo
df = pd.read_excel('ventas_mensuales.xlsx')

#Mostrar las primeras 5 filas
print('Las primeras 5 filas son: ',df.head())
print('')

# Obtener informacion general
print('La informacion general es: ', df.info())
print('')

# Mostrar dimensiones (filas y columnas)
print('Las dimensiones son: ',df.shape)
print('')

# Lista los nombres de todas las columnas
print('Los nombres de las columnas son:',df.columns.tolist())

Las primeras 5 filas son:         Mes Producto  Cantidad  Precio_Unitario Region
0    Enero   Laptop        15           850.50  Norte
1  Febrero    Mouse        45            25.00    Sur
2    Marzo  Teclado        30            45.75   Este
3    Abril  Monitor        12           320.00  Oeste
4     Mayo   Laptop        18           850.50  Norte

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mes              12 non-null     object
 1   Producto         12 non-null     object
 2   Cantidad         12 non-null     int64
 3   Precio_Unitario  12 non-null     float64
 4   Region           12 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 612.0+ bytes
La informacion general es:  None

Las dimensiones son:  (12, 5)

Los nombres de las columnas son: ['Mes', 'Producto', 'Cantidad', 'Precio_Unitario', 'Region']

Ejercicio 2: Transformación de Datos - Columnas Calculadas
Objetivo: Crear nuevas columnas basadas en cálculos
21.	Usando ventas_mensuales.xlsx, crea una columna llamada 'Total_Venta' que multiplique Cantidad por Precio_Unitario
22.	Calcula el total de ventas (suma de la columna Total_Venta)
23.	Encuentra el mes con mayor venta total
24.	Guarda el DataFrame modificado como 'ventas_procesadas.xlsx'

In [9]:
# Leer el archivo
df = pd.read_excel('ventas_mensuales.xlsx')

# Columna de venta total
df['Total_Venta'] = df['Cantidad'] * df['Precio_Unitario']

# Calcular la suma del total de ventas
total_ventas = df['Total_Venta'].sum()
print(f'Total de ventas: ${total_ventas:.2f}')

# Mes con el max de ventas
mes_mayor = df.loc[df['Total_Venta'].idxmax(), 'Mes']
print(f'Mes con mayor venta: {mes_mayor}')

# Guardar el dataframe
df.to_excel('ventas_procesadas.xlsx', index=False)

Total de ventas: $66209.25
Mes con mayor venta: Septiembre

Ejercicio 3: Filtrado de Datos
Objetivo: Seleccionar subconjuntos de datos
25.	Carga empleados.xlsx
26.	Filtra solo los empleados del departamento 'IT'
27.	Filtra empleados con salario mayor a 45000
28.	Filtra empleados de CDMX con más de 5 años de experiencia
29.	Cuenta cuántos empleados hay en cada departamento

In [13]:
# Cargar el dataset
df = pd.read_excel('empleados.xlsx')

# Filtrar empleados del dept IT
empleados_it = df[df['Departamento'] == 'IT']
print('Empleados del dept IT: ',empleados_it)
print('')

# Filtrar empleados con salario mayor de 45000
empleados_salario = df[df['Salario'] > 45000]
print('Empleados con salario mayor', empleados_salario)
print('')

# Filtrar empleados de CDMX con mas de 5 years of experience
empleados_cdmx = df[(df['Ciudad'] == 'CDMX') & (df['Años_Experiencia'] > 5)]
print('Empleados de CDMX con mas de 5 years de experiencia: ',empleados_cdmx)
print('')

# Cuenta cuantos empleados hay en cada departamento
empleados_por_departamento = df['Departamento'].value_counts()
print('Empleados por departamento: ',empleados_por_departamento)

Empleados del dept IT:     ID_Empleado          Nombre Departamento  Salario  Años_Experiencia  \
1          102    Carlos López           IT    48000                 7
4          105  Laura Martínez           IT    52000                 9
8          109     Carmen Díaz           IT    50000                 8

        Ciudad
1  Guadalajara
4  Guadalajara
8    Monterrey

Empleados con salario mayor    ID_Empleado          Nombre Departamento  Salario  Años_Experiencia  \
1          102    Carlos López           IT    48000                 7
4          105  Laura Martínez           IT    52000                 9
8          109     Carmen Díaz           IT    50000                 8
9          110    Luis Morales     Finanzas    47000                 6

        Ciudad
1  Guadalajara
4  Guadalajara
8    Monterrey
9         CDMX

Empleados de CDMX con mas de 5 years de experiencia:     ID_Empleado        Nombre Departamento  Salario  Años_Experiencia Ciudad
9          110  Luis Morales     Finanzas    47000                 6   CDMX

Empleados por departamento:  Departamento
Ventas      3
IT          3
RRHH        2
Finanzas    2
Name: count, dtype: int64

Ejercicio 4: Agrupación y Agregación
Objetivo: Resumir datos por grupos
30.	Usando ventas_mensuales.xlsx, agrupa por 'Region' y calcula el total de ventas por región
31.	Agrupa por 'Producto' y encuentra la cantidad promedio vendida
32.	Usando empleados.xlsx, calcula el salario promedio por departamento
33.	Encuentra el salario máximo y mínimo por ciudad

In [24]:
df = pd.read_excel('ventas_mensuales.xlsx')

# Calcular ventas totales (Cantidad * Precio_Unitario)
df['Venta_Total'] = df['Cantidad'] * df['Precio_Unitario']

# Agrupar por región y sumar ventas
ventas_por_region = df.groupby('Region')['Venta_Total'].sum().reset_index()
print("Total de ventas por región:")
print(ventas_por_region)
print('')

df2 = pd.read_excel('empleados.xlsx')

# Calcular el salario promedio por departamento
salario_promedio = df2.groupby('Departamento')['Salario'].mean().reset_index()
print("Salario promedio por departamento:")
print(salario_promedio)
print('')


# Encuentra el salario maximo y minimo por ciudad
salario_max_min = df2.groupby('Ciudad')['Salario'].agg(['max', 'min']).reset_index()
print("Salario máximo y mínimo por ciudad:")
print(salario_max_min)

Total de ventas por región:
  Region  Venta_Total
0   Este      4437.75
1  Norte     45076.50
2  Oeste     13120.00
3    Sur      3575.00

Salario promedio por departamento:
  Departamento       Salario
0     Finanzas  46000.000000
1           IT  50000.000000
2         RRHH  41000.000000
3       Ventas  36333.333333

Salario máximo y mínimo por ciudad:
        Ciudad    max    min
0         CDMX  47000  35000
1  Guadalajara  52000  36000
2    Monterrey  50000  42000

Ejercicio 5: Limpieza de Datos
Objetivo: Manejar datos faltantes y limpiar el dataset
34.	Carga datos_con_problemas.xlsx
35.	Identifica cuántos valores nulos hay en cada columna
36.	Rellena los valores nulos en 'Cliente' con 'Cliente Desconocido'
37.	Elimina las filas donde 'Monto' es nulo
38.	Rellena los valores nulos en 'Fecha' con '2024-01-01'
39.	Guarda el DataFrame limpio como 'datos_limpios.xlsx'

In [28]:
df = pd.read_excel('datos_con_problemas.xlsx')

# Identifica cuantos valores nulos hay en cada columna
valores_nulos = df.isnull().sum()
print("Valores nulos en cada columna:")
print(valores_nulos)

# Rellena los valores nulos en 'Cliente' con 'Cliente Desconocido'
df['Cliente'] = df['Cliente'].fillna('Cliente Desconocido')

# Elimina las filas donde 'Monto' es nulo
df = df.dropna(subset=['Monto'])

# Rellena los valores nulos en 'Fecha' con '2024-01-01'
df['Fecha'] = df['Fecha'].fillna('2024-01-01')

# Guarda el dataframe
df_modificado = df.to_excel('datos_limpios.xlsx', index=False)

Valores nulos en cada columna:
Cliente    2
Monto      3
Fecha      2
Estado     0
dtype: int64

Ejercicio 6: Unión de Datasets (Merge)
Objetivo: Combinar múltiples fuentes de datos
40.	Carga ventas_mensuales.xlsx y productos.xlsx
41.	Nota: Necesitarás crear una columna de unión. En ventas, mapea 'Producto' a un SKU simplificado
42.	Combina ambos DataFrames para obtener información completa de productos
43.	Calcula el stock restante después de las ventas

In [30]:
ventas = pd.read_excel('ventas_mensuales.xlsx')
productos = pd.read_excel('productos.xlsx')

# Columna de unión (mapeo simplificado)
mapeo_producto_sku = {
    'Laptop': 'LAP001',
    'Mouse': 'MOU001',
    'Teclado': 'TEC001',
    'Monitor': 'MON001'
}

ventas['SKU'] = ventas['Producto'].map(mapeo_producto_sku)
print("Ventas con SKU: ")
print(ventas[['Mes', 'Producto', 'SKU', 'Cantidad']])
print('')

# Combinar DataFrames
ventas_completo = pd.merge(ventas, productos, left_on='SKU', right_on='SKU', how='left')
print("Ventas con informacion de productos: ")
print(ventas_completo[['Mes', 'Producto', 'Cantidad', 'Nombre_Producto', 'Stock']].head(10))
print('')

# Calcular stock restante
ventas_totales = ventas_completo.groupby(['SKU', 'Nombre_Producto', 'Stock']).agg({
    'Cantidad': 'sum'
}).reset_index()

ventas_totales['Stock_Restante'] = ventas_totales['Stock'] - ventas_totales['Cantidad']
ventas_totales['Stock_Restante'] = ventas_totales['Stock_Restante'].clip(lower=0)

print("Stock restante despues de ventas: ")
print(ventas_totales[['SKU', 'Nombre_Producto', 'Stock', 'Cantidad', 'Stock_Restante']])

Ventas con SKU:
           Mes Producto     SKU  Cantidad
0        Enero   Laptop  LAP001        15
1      Febrero    Mouse  MOU001        45
2        Marzo  Teclado  TEC001        30
3        Abril  Monitor  MON001        12
4         Mayo   Laptop  LAP001        18
5        Junio    Mouse  MOU001        50
6        Julio  Teclado  TEC001        35
7       Agosto  Monitor  MON001        15
8   Septiembre   Laptop  LAP001        20
9      Octubre    Mouse  MOU001        48
10   Noviembre  Teclado  TEC001        32
11   Diciembre  Monitor  MON001        14

Ventas con informacion de productos:
          Mes Producto  Cantidad  Nombre_Producto  Stock
0       Enero   Laptop        15      Laptop Dell     25
1     Febrero    Mouse        45   Mouse Logitech    150
2       Marzo  Teclado        30       Teclado HP     80
3       Abril  Monitor        12  Monitor Samsung     40
4        Mayo   Laptop        18      Laptop Dell     25
5       Junio    Mouse        50   Mouse Logitech    150
6       Julio  Teclado        35       Teclado HP     80
7      Agosto  Monitor        15  Monitor Samsung     40
8  Septiembre   Laptop        20      Laptop Dell     25
9     Octubre    Mouse        48   Mouse Logitech    150

Stock restante despues de ventas:
      SKU  Nombre_Producto  Stock  Cantidad  Stock_Restante
0  LAP001      Laptop Dell     25        53               0
1  MON001  Monitor Samsung     40        41               0
2  MOU001   Mouse Logitech    150       143               7
3  TEC001       Teclado HP     80        97               0

Ejercicio 7: Pipeline ETL Completo
Objetivo: Crear un proceso ETL de principio a fin
Crea un script que:
44.	Extract: Cargue ventas_mensuales.xlsx
45.	Transform:
   - Calcule Total_Venta (Cantidad * Precio_Unitario)
   - Filtre solo ventas mayores a 1000
   - Agrupe por Región y calcule suma de ventas
   - Ordene de mayor a menor
46.	Load: Guarde el resultado en 'reporte_regional.xlsx'

In [33]:
ventas = pd.read_excel('ventas_mensuales.xlsx')

# Calcular total_ventas
ventas['Total_Venta'] = ventas['Cantidad'] * ventas['Precio_Unitario']
print('Total de ventas: ', ventas['Total_Venta'])
print('')

# Filtrar solo ventas mayores a 1000
ventas = ventas[ventas['Total_Venta'] > 100]
print('Filtrado de ventas mayores a 1000: ',ventas)
print('')

# Agrupar por region y calcular la suma
ventas_por_region = ventas.groupby('Region')['Total_Venta'].sum().reset_index()
print('Agrupado por region y suma total: ', ventas_por_region)
print('')

# Ordenar de mayor a menor
ventas_por_region = ventas_por_region.sort_values(by='Total_Venta', ascending=False)
print('Ordenado de mayor a menor: ', ventas_por_region)

# Guarde el resultado en 'report_regional.xlsx'
reporte_regional = ventas_por_region.to_excel('reporte_regional.xlsx', index=False)

Total de ventas:  0     12757.50
1      1125.00
2      1372.50
3      3840.00
4     15309.00
5      1250.00
6      1601.25
7      4800.00
8     17010.00
9      1200.00
10     1464.00
11     4480.00
Name: Total_Venta, dtype: float64

Filtrado de ventas mayores a 1000:             Mes Producto  Cantidad  Precio_Unitario Region  Total_Venta
0        Enero   Laptop        15           850.50  Norte     12757.50
1      Febrero    Mouse        45            25.00    Sur      1125.00
2        Marzo  Teclado        30            45.75   Este      1372.50
3        Abril  Monitor        12           320.00  Oeste      3840.00
4         Mayo   Laptop        18           850.50  Norte     15309.00
5        Junio    Mouse        50            25.00    Sur      1250.00
6        Julio  Teclado        35            45.75   Este      1601.25
7       Agosto  Monitor        15           320.00  Oeste      4800.00
8   Septiembre   Laptop        20           850.50  Norte     17010.00
9      Octubre    Mouse        48            25.00    Sur      1200.00
10   Noviembre  Teclado        32            45.75   Este      1464.00
11   Diciembre  Monitor        14           320.00  Oeste      4480.00

Agrupado por region y suma total:    Region  Total_Venta
0   Este      4437.75
1  Norte     45076.50
2  Oeste     13120.00
3    Sur      3575.00

Ordenado de mayor a menor:    Region  Total_Venta
1  Norte     45076.50
2  Oeste     13120.00
0   Este      4437.75
3    Sur      3575.00