<a href="https://colab.research.google.com/github/Armando122104/Ejercicios_Guia_Examen_IngDatos/blob/main/Guia_Examen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Escribe el código para cargar el archivo empleados.xlsx y mostrar las primeras 3 filas.
# Cargar el archivo
df = pd.read_excel('empleados.xlsx')

# Mostrar las primeras 3 filas
print(df.head(3))

   ID_Empleado        Nombre Departamento  Salario  Años_Experiencia  \
0          101    Ana García       Ventas    35000                 3
1          102  Carlos López           IT    48000                 7
2          103  María Torres         RRHH    42000                 5

        Ciudad
0         CDMX
1  Guadalajara
2    Monterrey

In [4]:
#Usando ventas_mensuales.xlsx, escribe el código para crear una columna 'Ingreso_Total' que sea el producto de Cantidad por Precio_Unitario.

df = pd.read_excel('ventas_mensuales.xlsx')

df['Ingreso_Total'] = df['Cantidad'] * df['Precio_Unitario']

print(df)

           Mes Producto  Cantidad  Precio_Unitario Region  Ingreso_Total
0        Enero   Laptop        15           850.50  Norte       12757.50
1      Febrero    Mouse        45            25.00    Sur        1125.00
2        Marzo  Teclado        30            45.75   Este        1372.50
3        Abril  Monitor        12           320.00  Oeste        3840.00
4         Mayo   Laptop        18           850.50  Norte       15309.00
5        Junio    Mouse        50            25.00    Sur        1250.00
6        Julio  Teclado        35            45.75   Este        1601.25
7       Agosto  Monitor        15           320.00  Oeste        4800.00
8   Septiembre   Laptop        20           850.50  Norte       17010.00
9      Octubre    Mouse        48            25.00    Sur        1200.00
10   Noviembre  Teclado        32            45.75   Este        1464.00
11   Diciembre  Monitor        14           320.00  Oeste        4480.00

In [5]:
#Escribe el código para filtrar solo los empleados del departamento 'Ventas' con salario mayor a 35000.

df = pd.read_excel('empleados.xlsx')

datos_filtrados = df[(df['Departamento'] == 'Ventas') & (df['Salario'] > 35000)]
print(datos_filtrados)

   ID_Empleado           Nombre Departamento  Salario  Años_Experiencia  \
3          104       Juan Pérez       Ventas    38000                 4
7          108  Diego Fernández       Ventas    36000                 3

        Ciudad
3         CDMX
7  Guadalajara

In [6]:
 #Usando ventas_mensuales.xlsx, agrupa por 'Region' y calcula la suma total de ventas (Cantidad * Precio_Unitario) por región.

df = pd.read_excel('ventas_mensuales.xlsx')

df['Ingreso_Total'] = df['Cantidad'] * df['Precio_Unitario']

datosAgrupados = df.groupby('Region')['Ingreso_Total'].sum()
print(datosAgrupados)

Region
Este      4437.75
Norte    45076.50
Oeste    13120.00
Sur       3575.00
Name: Ingreso_Total, dtype: float64

In [9]:
#Usando datos_con_problemas.xlsx, #escribe el código para: (a) identificar valores nulos en la columna 'Monto',
#(b) eliminar esas filas, y (c) guardar el resultado en 'datos_procesados.xlsx'.

df = pd.read_excel('datos_con_problemas.xlsx')

df = df.dropna(subset=['Monto'])
print(df)

df.to_excel('datos_procesados.xlsx', index=False)

     Cliente    Monto       Fecha     Estado
0  Empresa A  1500.50  2024-01-15     Pagado
2        NaN  2300.75  2024-03-10     Pagado
3  Empresa D  1800.00         NaN     Pagado
5  Empresa F  3200.50  2024-06-12     Pagado
6  Empresa G  1200.00         NaN  Pendiente
7        NaN  2500.00  2024-08-18     Pagado
9  Empresa J  1900.00  2024-10-30     Pagado

In [12]:
# PROBLEMA INTEGRADOR (4 puntos): Crea un mini-pipeline ETL que: (1) Cargue empleados.xlsx,
#(2) Filtre empleados con más de 5 años de experiencia, (3) Calcule el salario promedio de ese grupo,
#(4) Imprima el resultado. Escribe el código completo.

df = pd.read_excel('empleados.xlsx')

datos_filtrados = df['Años_Experiencia'] > 5

salario_promedio = df[datos_filtrados]['Salario'].mean()

print(salario_promedio)

48400.0